.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box1, .box2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1 div, .box2 div{
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.box2 div{
  align-items: flex-end;
}

.box1 h1, .box2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: black;
}

.box1 h2, .box2 h2{
  font-size: 14px;
  color: var(--clrGR000);
}

.box1 div:nth-child(2) h2, .box2 div:nth-child(1) h2, .box3 div:nth-child(1) h2{
  text-transform: capitalize;
}

.iconEdit{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit svg, .iconEdit path{
  font-size: 26px;
  color: var(--clrM0);
  cursor: pointer;
}

.iconEdit div svg:hover, .iconEdit div:hover path{
  color: var(--clrM1);
}

.iconEdit div svg:active, .iconEdit div:active path{
  color: var(--clrM2);
}

.iconCheck{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--clrGR2);
}

.iconCheck:active{
  background-color: var(--clrGR3);
}

.iconClose{
  position: absolute;
  top: 10px;
  right: 10px;
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrM0);
  cursor: pointer;
}

.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  font-size: 20px;
  color: var(--clrGR000);
  cursor: pointer;
}

.iconDel svg:hover, .iconDel:hover path{
  color: var(--clrGR00);
}

.iconDel svg:active, .iconDel:active path{
  color: var(--clrGR0);
}

.iconClose svg, .iconClose path{
  padding: 8px;
  font-size: 34px;
  color: var(--clrGR00);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.iconClose svg:hover,.iconClose path:hover{
  background-color: var(--clrGR3);
}

.iconClose svg:active,.iconClose path:active{
  background-color: var(--clrGR4);
}

.iconCheck{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--clrGR2);
}

.iconCheck:active{
  background-color: var(--clrGR3);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrM0);
  cursor: pointer;
}