.mainRow{
  padding: 20px 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainRowMap{
  padding: 5px 0;
  margin: 2.5px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clrGR5);
  border-radius: 5px;
  cursor: pointer;
}

.mainRowMap:hover{
  background-color: var(--clrGR4);
}

.mainRowMap:active{
  background-color: var(--clrGR3);
}

.mainRowMap1{
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mainRowMap1 svg, .mainRowMap1 path{
  font-size: 20px;
  color: var(--clrGR0);
  cursor: pointer;
}

.mainRowMap2{
  padding: 5px 0;
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.mainRowMap2 div:nth-child(1){
  padding: 0 2.5px;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.mainRowMap2 div:nth-child(2){
  padding: 0 2.5px;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.mainRowMap2 h1{
  font-size: 14px;
  color: black;
  font-weight: 600 !important;
  cursor: pointer;
}

.mainRowMap2 h2{
  font-size: 14px;
  color: var(--clrGR000);
  cursor: pointer;
}
